{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'assets/t_sty.css' %}">
    
    <!-- Resto del contenido de la plantilla -->
    <h2>Resultados de la búsqueda</h2>
    <p>Termino de búsqueda: {{ termino_busqueda }}</p>

    <table class="styled-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre del Alimento</th>
                <th>Código Mex2</th>
                <th>Energía (kcal)</th>
                <th>Carbohidratos</th>
                <th>Lípidos Totales</th>
                <th>Proteína</th>
                <th>Acciones</th>
            </tr>
        </thead>
        
        <form method="post" class="form-group" id="login-form">
            {% csrf_token %}
            <tbody>
                {% for alimento in resultados %}
                    <tr>
                        <td>{{ alimento.id }}</td>
                        <td>{{ alimento.nombre_del_alimento }}</td>
                        <td>{{ alimento.codigomex2 }}</td>
                        <td>{{ alimento.energ_kcal }}</td>
                        <td>{{ alimento.carbohydrt }}</td>
                        <td>{{ alimento.lipid_tot }}</td>
                        <td>{{ alimento.protein }}</td>
                        <td>
                            <button class="editar-btn" data-id="{{ alimento.id }}">Editar</button>
                            <button class="eliminar-btn" data-id="{{ alimento.id }}">Eliminar</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        
        </form>
        
         <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
   $(document).ready(function() {
      $('.editar-btn, .eliminar-btn').click(function() {
         // Obtener el ID desde el atributo data-id del botón
         var id = $(this).data('id');

         // Guardar el ID en la sesión usando AJAX
         $.ajax({
            url: '{% url "guardarid" %}',  // Reemplaza con tu URL de Django
            method: 'POST',
            data: {'id': id},
            success: function(response) {
               // Manejar el éxito si es necesario
            },
            error: function(error) {
               // Manejar el error si es necesario
            }
         });
      });
   });
</script>

    </table>
{% endblock %}

