{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'assets/css/register.css' %}" />
  </head>
  <body>
    <div>
      <h2 class="form-title" id="signup"><span></span>Sign Up</h2>
      <form method="post" class="form-group">
        {{ user_form.as_p }} {% csrf_token %}
        <p>
          <input type="submit" value="Sign up" class="btn btn-primary" />
        </p>
      </form>
    </div>
    <!--JAVASCRIPT-->
    <script src="{% static 'assets/js/login.js' %}" ¬></script>
  </body>
</html>
