{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}" />
  </head>
  <body>
    <div class="form-structor">
      <div class="signup">
        <h2 class="form-title" id="signup">
          <span></span>Felicidades estas registrado!
        </h2>
        <p>
          Your account has been successfully created. Now you can
          <a href="{% url 'login' %}">log in</a>.
        </p>
      </div>
    </div>
    <!--JAVASCRIPT-->
    <script src="{% static 'assets/js/login.js' %}"></script>
  </body>
</html>
